<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dating.reveal">
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".main.MyApplication"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name=".SettingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".RatingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyselfUploadPhotoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddFriendActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddMatchesActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MySelfProfileActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MySelfPhotoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MySelfPhotoPostActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".BlockChattingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".FriendActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".LikeShowActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MatchprofileActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MatchsMessageActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewFeedActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".NonFriendProfileActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".NotificationActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReportActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".FriendProfileActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChatActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReadyActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewFeedActivity_candidate"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".showImage.ImagefolderActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".showImage.ShowImageInFolderActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".showImage.ViewImageActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".wheelpicker.DateActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"/>
    </application>

</manifest>